<div class="dcenter">

<div class="dcenterup">
 <ul class="dul">
 <li class="dli"><%= t(:hot)  %></li>
 <li class="dli"><%= t(:good)  %></li>
 <li class="dli"><%= t(:update)  %></li>
 <li class="dli"><%= t(:luckme)  %></li>
 <li class="dli_form">      
 <%= form_tag '/', :method => 'get' do %>
   <%= text_field 'title','name' , :size => 5, :placeholder => "search" %>
   <%= submit_tag t(:search), :class => "submit_button" %>
  <% end  %> 
 </li>
 </ul>
</div>

<div class="dcenterdown">
<%= render :template => 'sites/index' %> 
</div>

</div>


<div class="dright">

 <div class="drightup">
 <p>I am right up</p>
 </div>

 <div class="drightdown">
 <p>I am right down</p>
 </div>

</div>
