<div class="span6">

<div class="dcenterup">
 <ul class="dul">
 <li class="dli"><%= t(:hot)  %></li>
 <li class="dli"><%= t(:good)  %></li>
 <li class="dli"><%= t(:update)  %></li>
 <li class="dli"><%= t(:luckme)  %></li>
 </ul>
</div>
 <%= form_tag 'sites_search', :method => 'get', :remote => true do %>
   <%= text_field_tag :search, params[:search] %>
   <%= submit_tag t(:search), :class => "submit_button" %>
  <% end  %> 

<div class="dcenterdown" id="sites">
<%= render :template => 'sites/index' %> 
</div>

</div>


<div class="span6">

 <div class="drightup">
 <p>I am right up</p>
 </div>

 <div class="drightdown">
 <p>I am right down</p>
 </div>

</div>
