
<% if ! $cdefault.nil?  %>
<% case $cdefault %>
<% when "customer" %>
<div class="customer">
  <%= render :template => 'customers/index' %>
</div>
<% when "project" %>
<div class="project">
  <%= render :template => 'projects/index' %>
</div>
<% when "production" %>
<div class="production">
  <%= render :template => 'productions/index' %>
</div>
<% when "contract" %>
<div class="contract">
  <%= render :template => 'contracts/index' %>
</div>
<% when "product" %>
<div class="product">
  <%= render :template => 'products/index' %>
</div>
<% when "manufacture" %>
<div class="manufacture">
  <%= render :template => 'manufactures/index' %>
</div>
<% else %>

<% end  %>

Welcome to info-flow manager system!
<br />
<% end  %>

