<%= form_for(@customer) do |f| %>

  <div class="field">
    <%= f.label t(:Market) %><br />
    <%= f.text_field :Market %>
  </div>
  <div class="field">
    <%= f.label t(:name) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t(:Address) %><br />
    <%= f.text_field :Address %>
  </div>
  <div class="field">
    <%= f.label t(:Postal_Code) %><br />
    <%= f.text_field :Postal_Code %>
  </div>
  <div class="field">
    <%= f.label t(:city) %><br />
    <%= f.text_field :city %>
  </div>

   <div class="field">
     <%= f.label t(:Country)  %><br />
    <%= f.text_field :Country %>
   </div>
      
   <div class="field">
     <%= f.label t(:Tel)  %><br />
    <%= f.text_field :Tel %>
   </div>

   <div class="field">
     <%= f.label t(:Fax)  %><br />
    <%= f.text_field :Fax %>
   </div>

   <div class="field">
     <%= f.label t(:Contactor_a)  %><br />
    <%= f.text_field :Contactor_a %>
   </div>

   <div class="field">
     <%= f.label t(:Contactor_b)  %><br />
    <%= f.text_field :Contactor_b %>
   </div>

   <div class="field">
     <%= f.label t(:cell_a)  %><br />
    <%= f.text_field :cell_a %>
   </div>

   <div class="field">
     <%= f.label t(:cell_b)  %><br />
    <%= f.text_field :cell_b %>
   </div>

   <div class="field">
     <%= f.label t(:web_page)  %><br />
    <%= f.text_field :web_page %>
   </div>

   <div class="field">
     <%= f.label t(:Email)  %><br />
    <%= f.text_field :Email %>
   </div>

   <div class="field">
     <%= f.label t(:MSN)  %><br />
    <%= f.text_field :MSN %>
   </div>

   <div class="field">
     <%= f.label t(:Skype)  %><br />
    <%= f.text_field :Skype %>
   </div>

   <div class="field">
     <%= f.label t(:Invoicing_Requirement)  %><br />
    <%= f.text_area :Invoicing_Requirement %>
   </div>

   <div class="field">
     <%= f.label t(:shipping_Document_requirements)  %><br />
    <%= f.text_area :shipping_Document_requirements %>
   </div>

  <div class="actions">
  <% if @isnew %>
    <%= f.submit t(:nextstep) %>
  <% else %>
    <%= f.submit t(:confirming) %>
  <% end %>
  </div>
<% end %>
