<%= form_for(@customer) do |f| %>
  
<table border="1">
  <tr>
     <td><%= f.label t(:Market) %> </td>
     <td><%= f.text_field :Market  %></td>
  </tr>
  <tr>
    <td><%= f.label t(:name) %> </td>
    <td><%= f.text_field :name %> </td>
  </tr>
  <tr>
    <td><%= f.label t(:Address) %> </td>
    <td><%= f.text_field :Address %> </td>
  </tr>
  <tr>
    <td><%= f.label t(:Postal_Code) %> </td>
    <td><%= f.text_field :Postal_Code  %> </td>
  </tr>
  <tr>
    <td><%= f.label t(:city) %> </td>
    <td><%= f.text_field :city %> </td>
  </tr>
  <tr>
    <td><%= f.label t(:Country)  %> </td>
    <td><%= f.text_field :Country %> </td>
  </tr>
  <tr>
    <td><%= f.label t(:Tel)  %> </td>
    <td><%= f.text_field :Tel %> </td>
  </tr>
  <tr>
    <td><%= f.label t(:Fax)  %> </td>
    <td><%= f.text_field :Fax  %> </td>
  </tr>
  <tr>
    <td><%= f.label t(:Contactor_a)  %> </td>
    <td><%= f.text_field :Contactor_a  %> </td>
  </tr>
  <tr>
    <td><%= f.label t(:Contactor_b)  %> </td>
    <td><%=  f.text_field :Contactor_b  %> </td>
  </tr>
  <tr>
    <td><%= f.label t(:cell_a)  %> </td>
    <td><%=  f.text_field :cell_a  %> </td>
  </tr>
  <tr>
    <td><%= f.label t(:cell_b)  %> </td>
    <td><%= f.text_field :cell_b %> </td>
  </tr>
  <tr>
    <td><%= f.label t(:web_page)  %> </td>
    <td><%  f.text_field :web_page %> </td>
  </tr>
  <tr>
    <td><%= f.label t(:Email)  %> </td>
    <td><%= f.text_field :Email %> </td>
  </tr>
  <tr>
    <td><%= f.label t(:MSN)  %> </td>
    <td><%= f.text_field  :MSN  %> </td>
  </tr>
  <tr>
    <td><%= f.label t(:Skype)  %> </td>
    <td><%= f.text_field  :Skype  %> </td>
  </tr>
</table>
<br />
   <div class="field">
     <%= f.label t(:Invoicing_Requirement)  %><br />
    <%= f.text_area :Invoicing_Requirement %>
   </div>

   <div class="field">
     <%= f.label t(:shipping_Document_requirements)  %><br />
    <%= f.text_area :shipping_Document_requirements %>
   </div>

  <div class="actions">
  <% if @isnew %>
    <%= f.submit t(:nextstep) %>
  <% else %>
    <%= f.submit t(:confirming) %>
  <% end %>
  </div>
<% end %>
