<h1>my customers</h1>
 
<table id="customer" class="display">
 <thead> 
 <tr>
	<th>Market</th>
	<th>Name</th>
	<th>customer Ref# </th>
	<th>Address</th>
	<th>Postal Code </th>
	<th>City </th>
	<th>Country </th>
	<th>Tel </th>
	<th>Fax </th>
	<th>Contact #1</th>
	<th>Contact #2</th>
	<th>cell #1 </th>
	<th>cell #2 </th>
	<th>Web page </th>
	<th>Email </th>
	<th>MSN </th>
	<th>Skype </th>
	<th>Invoicing Requirement </th>
	<th>Shipping Documents Requirements </th>
        <th>Creator</th>
        <th>Contracts</th>
	<th>revision</th>
  </tr>
  </thead>
 <tbody>
<% @customers.each do |customer| %>
  <tr>
<%= form_for(customer) do |f| %>
    <td><%=  best_in_place customer, :Market %></td>
    <td><%= best_in_place customer, :name %></td>
    <td><%= best_in_place customer,:id %></td>
    <td><%= best_in_place customer,:Address %></td>
    <td><%= best_in_place customer,:Postal_Code %></td>
    <td><%= best_in_place customer,:city %></td>
    <td><%= best_in_place customer,:Country %></td>
    <td><%= best_in_place customer,:Tel %></td>
    <td><%= best_in_place customer,:Fax %></td>
    <td><%= best_in_place customer,:Contactor_a %></td>
    <td><%= best_in_place customer,:Contactor_b %></td>
    <td><%= best_in_place customer,:cell_a %></td>
    <td><%= best_in_place customer,:cell_b %></td>
    <td><%= best_in_place customer,:web_page %></td>
    <td><%= best_in_place customer,:Email %></td>
    <td><%= best_in_place customer,:MSN %></td>
    <td><%= best_in_place customer,:Skype %></td>
    <td><%= best_in_place customer,:Invoicing_Requirement %></td>
    <td><%= best_in_place customer,:shipping_Document_requirements %></td>
    <td><% if customer.contracts.count > 0 %>
        <% link_to "former contract", contracts_path   %>
        <% end%>
        <%= link_to "new a contract",new_contracts_path %>
    </td>
    <td><%= link_to User.find(customer.user.id).username, edit_user_registration_path(customer.user.id) %></td>
    <td><%= customer.versions.length %>
        <% if user_signed_in?   %>
        <% if (current_user.username == "admin")  %>
          <%= customer.versions %>
        <% end  %>
        <% end %>
    </td>
 <% end %>
  </tr>
<% end %>
 </tbody>
</table>
<%= will_paginate @customers %>
<br />
<%= link_to "add customer",new_customer_path %>
