<h1><%= link_to "Listing projects", projects_path %></h1>

<table id="projects" class="display">
  <tr>
    <% Project.attribute_names.each do |name| %>
    <th><%= name %></th>
    <% end  %>
    <th>Production</th>
    <th>Shipments</th>
  </tr>

<% @attr_constrains = ["id" ,"contract_id", "user_id"] %>
<% @projects.each do |project| %>
  <tr>
    <% Project.attribute_names.each do |name| %>
    <% if ( ! @attr_constrains.nil? ) and @attr_constrains.member?(name)  %>
      <td><%= link_to name, projects_sub_path_path(:name => name, :id => project.send(name))  %></td>
    <% else %>
      <td><%= best_in_place project, name, :type => :date %></td>
    <% end  %>
    <% end  %>
    <td>
      <%= link_to "add new production", new_production_path(:project => project.id) %>
      <%= link_to "production status", productions_path(:project => project.id) %>
    </td>
    <td>
      <%= link_to "add new shipment", new_shipment_path(:project => project.id) %>
      <%= link_to "shipment status", shipments_path(:project => project.id) %>
    </td>
  </tr>
<% end %>
</table>

<br />
