<h1><%= link_to "Listing projects", projects_path %></h1>

<table id="projects" class="display">
  <tr>
    <% Project.attribute_names.each do |name| %>
    <th><%= name %></th>
    <% end  %>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <% Production.attribute_names.each do |name| %>
    <% if ! $attr_constrains.nil? and $attr_constrains.member?(name)  %>
      <td><%= f.label name  %></td>
    <% else  %>
      <td><%= best_in_place production, name, :type => :textarea %></td>
    <% end  %>
    <% end  %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
