<h1>Listing projects</h1>

<table>
  <tr>
    <th>User</th>
    <th>Customer</th>
    <th>Inquery from</th>
    <th>Product</th>
    <th>Sd</th>
    <th>Rcv customer sample</th>
    <th>Manufacturer</th>
    <th>Contract</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.user %></td>
    <td><%= project.customer %></td>
    <td><%= project.Inquery_from %></td>
    <td><%= project.product %></td>
    <td><%= project.SD %></td>
    <td><%= project.Rcv_customer_sample %></td>
    <td><%= project.manufacturer %></td>
    <td><%= project.contract %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
