<h1><%= link_to "Listing manufactures", manufactures_path %></h1>

<table id="manufacture" class="display">
 <thead>
  <tr>
   <% Manufacture.attribute_names.each do |name| %>
    <th><%= name %></th>
    <% end  %>
    <th>Products</th>
    <th>revision</th>
  </tr>
 </thead>
      <% @poptions = Set.new  %>
      <% Product.all.each do |f|  %>
         <% @poptions.add(f.name) %>
      <% end%>
 <tbody>
<% @manufactures.each do |manufacture| %>
  <tr>
    <% manufacture.attribute_names.each do |name| %>
    <td><%= best_in_place manufacture, name , :type => :textarea%></td>
    <% end  %>
    <td> 
      <%= link_to "products", products_path(:manufacture => manufacture.id)%>
      <br />
      <%= link_to "add a new product", manufactures_add_new_product_path(:manufacture => manufacture.id)%>
      <br />
    <% if ! @poptions.nil? %>
     <%= form_tag '/manufactures/add_product', :method => 'get' do%>
     <%= select_tag "add_product", options_for_select(@poptions) %>
     <%= text_field 'manufacture','id', :value => manufacture.id, :size => 2  %>
     <%= submit_tag t(:add_product) %>
     <% end %>
    <% end %>
    </td>
    <td><%= manufacture.versions.length  %></td>
    <%= manufacture.products.count %>
  </tr>
<% end %>
</tbody>
</table>
<br />
<%= will_paginate @manufactures %>
<br />

<%= link_to 'New Manufacture', new_manufacture_path %>
