<h1>Listing products</h1>

<table id="product" class="display">
 <thead> 
  <tr>
    <th>Serial</th>
    <th>Name</th>
    <th>Certification</th>
    <th>Manufacturer</th>
  </tr>
  </thead>
 <tbody>
<% @products.each do |product| %>
  <tr>
  <%= form_for(product) do |f| %>
    <td><%= best_in_place product, :serial_no %></td>
    <td><%= best_in_place product, :name %></td>
    <td><%= best_in_place product, :certification %></td>
    <td></td>
  <% end  %>
  </tr>
<% end %>
 </tbody>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
