<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>
    </div>
  <% end %>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
    <%= f.label :icons %><br />
    <%= f.text_field :icons %>
    <%= f.submit %>
<% end %>
