<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Link:</b>
  <%= @site.link %>
</p>

<p>
  <b>Desc:</b>
  <%= @site.desc %>
</p>

<p>
  <b>Icons:</b>
  <%= @site.icons %>
</p>

<p>
    <b>Tags:</b>
<% @site.tags.each do |tag| %>
   <%= button_to tag.name,{ :controller  => :sites, :action =>  :remove_tag, :id => @site.id, :tag_id => tag.id} ,{ :class => 'btn btn-info btn-mini' ,:confirm => 'Are you sure?'}  %>
<% end %>
</p>

<h2>Add tags:</h2>
<%= form_for([@site, @site.tags.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
