<!DOCTYPE html>
<html>
<head>
  <title>Infoflow</title>
  <!-- script type="text/javascript" src="jquery-1.7.2.min.js"></script -->
  <!-- script type="text/javascript" src="jquery-animate-css-rotate-scale.js"></script -->
  <!-- script type="text/javascript" src="jquery-css-transform.js"></script -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- %= javascript_include_tag :defaults % -->
<style type="text/css">

#topbar{
position:absolute;
border: 1px solid black;
padding: 2px;
background-color: lightyellow;
width: 400px;
visibility: hidden;
z-index: 100;
}

</style>


<script type="text/javascript">

/***********************************************
* Floating Top Bar script- © Dynamic Drive (www.dynamicdrive.com)
* Sliding routine by Roy Whittle (http://www.javascript-fx.com/)
* This notice must stay intact for legal use.
* Visit http://www.dynamicdrive.com/ for full source code
***********************************************/

var persistclose=0 //set to 0 or 1. 1 means once the bar is manually closed, it will remain closed for browser session
var startX = 300 //set x offset of bar in pixels
var startY = 30 //set y offset of bar in pixels
var verticalpos="frombottom" //enter "fromtop" or "frombottom"

function iecompattest(){
return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
}

function get_cookie(Name) {
var search = Name + "="
var returnvalue = "";
if (document.cookie.length > 0) {
offset = document.cookie.indexOf(search)
if (offset != -1) {
offset += search.length
end = document.cookie.indexOf(";", offset);
if (end == -1) end = document.cookie.length;
returnvalue=unescape(document.cookie.substring(offset, end))
}
}
return returnvalue;
}

function closebar(){
if (persistclose)
document.cookie="remainclosed=1"
document.getElementById("topbar").style.visibility="hidden"
}

function staticbar(){
	barheight=document.getElementById("topbar").offsetHeight
	var ns = (navigator.appName.indexOf("Netscape") != -1) || window.opera;
	var d = document;
	function ml(id){
		var el=d.getElementById(id);
		if (!persistclose || persistclose && get_cookie("remainclosed")=="")
		el.style.visibility="visible"
		if(d.layers)el.style=el;
		el.sP=function(x,y){this.style.left=x+"px";this.style.top=y+"px";};
		el.x = startX;
		if (verticalpos=="fromtop")
		el.y = startY;
		else{
		el.y = ns ? pageYOffset + innerHeight : iecompattest().scrollTop + iecompattest().clientHeight;
		el.y -= startY;
		}
		return el;
	}
	window.stayTopLeft=function(){
		if (verticalpos=="fromtop"){
		var pY = ns ? pageYOffset : iecompattest().scrollTop;
		ftlObj.y += (pY + startY - ftlObj.y)/8;
		}
		else{
		var pY = ns ? pageYOffset + innerHeight - barheight: iecompattest().scrollTop + iecompattest().clientHeight - barheight;
		ftlObj.y += (pY - startY - ftlObj.y)/8;
		}
		ftlObj.sP(ftlObj.x, ftlObj.y);
		setTimeout("stayTopLeft()", 10);
	}
	ftlObj = ml("topbar");
	stayTopLeft();
}

if (window.addEventListener)
window.addEventListener("load", staticbar, false)
else if (window.attachEvent)
window.attachEvent("onload", staticbar)
else if (document.getElementById)
window.onload=staticbar
</script>
</head>
<body>
<% if user_signed_in? %>
        <% if  defined? @searchable  %>
	<%= form_tag '/search', :method => 'get' do %>
           <%= select_tag 'cata',options_for_select($coptions,$cdefault), :remote => true %>
           <%= select_tag 'range',options_for_select(@options,@default) %>
           <%= text_field 'title','name' , :size => 15 %>
           <%= submit_tag t(:search) %>
         <% end  %>
        <% end %>

<div id="dashboard">
<%= image_tag("toggle.png", :id=>"toggle") %>
<!--list of widgets-->
<script type="text/javascript">
			$(document).ready(function() {
				
				//Create base variable, check document width and count how much dot per line.
				var a, b, element = '';
				documentWidth		= $(window).width();
				dotLength			= parseInt(documentWidth/10);
				
				//Loop dot per line
				for(a=0; a<= 11; a++) {
					
					//Check is even or odd to add some pixel to the margin left
					className= ((a%2) == 0) ? '0' : '0.4em';
					element 	= element + '<div style="margin-left:'+className+'; margin-bottom: -.5em">\n';
						
						//Loop to create the dot
						for(b=0; b<=dotLength; b++) {
							element = element + '\t<span class="dot">&nbsp;</span>';
						}
					
					element = element + '</div>';
				}
				
				//Insert dots on #dot-container
				$('#dot-container').html(element);
				
				//Add event toggle on #toggle
				$('#toggle').toggle(
					
					function() {
					
						//Rotate toggle
						$(this).stop().animate({rotate : '-=45deg'});
						$('#dashboard').stop().animate({bottom : '0px'});
						$('#dashboard-menu').stop().animate({left : '3em'});
					},
					
					function() {
						
						//Revert rotate toggle
						$(this).stop().animate({rotate : '0deg'});
						$('#dashboard').stop().animate({bottom : '-150px'}, 700);
						$('#dashboard-menu').stop().animate({left : '-65em'});
					}
				);
				
			});
			
</script>



<div id="dashboard-menu">  
        <ul>  
            <li>  
            <%= link_to image_tag("gauge.png", :mouseover => "gauge_large.png"), dashboard_customer_path %> <br> Customer 
            </li>  
            <li>  
            <%= image_tag("mail.png", :mouseover => "mail_large.png") %> <br> Projects
            </li>  
            <li>  
            <%= image_tag("calendar.png", :mouseover => "calendar_large.png") %> <br> Productions  
            </li>  
            <li>  
            <%= image_tag("map.png", :mouseover => "map_large.png") %> <br> Shipment status
            </li>  
            <li>  
            <%= link_to image_tag("note.png", :mouseover => "note_large.png"), dashboard_contract_path %> <br> Contract
            </li>  
            <li>  
            <%= image_tag("wireless.png", :mouseover => "wireless_large.png") %> <br> Product  
            </li>  
            <li>  
            <%= image_tag("calculator.png", :mouseover => "calculator_large.png") %> <br> manufacturer  
            </li>  
        </ul>  
</div>
<div id="dot-container">
<div id="dot-container">
<div style="margin-left:0em; margin-bottom: -.5em">
<span class="dot"> </span><span class="dot"> </span><span class="dot"> </span><span class="dot"> </span><span class="dot"> </span><span class="dot"> </span>
</div>
<div style="margin-left:0.4em; margin-bottom: -.5em">
<span class="dot"> </span><span class="dot"> </span><span class="dot"> </span><span class="dot"> </span>
</div>
</div>

</div>
</div> 
 
<% end %>
<%= yield %>
<% if notice or alert  %>
<div id="topbar">
<a href="" onClick="closebar(); return false"><%= image_tag("close.gif") %>
<p class="notice">
<%= notice %>
</p>
<p class="alert"><%= alert %></p>
</div>
<% end %>

</body>
</html>
