<!DOCTYPE html>
<html>
<head>
  <title>Infoflow</title>
  <!-- script type="text/javascript" src="jquery-1.7.2.min.js"></script -->
  <!-- script type="text/javascript" src="jquery-animate-css-rotate-scale.js"></script -->
  <!-- script type="text/javascript" src="jquery-css-transform.js"></script -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- %= javascript_include_tag :defaults % -->
</head>
<body>

<%= yield %>

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

</body>
</html>
